<%= form_with(model: wechatinfo, local: true) do |form| %>
  <% if wechatinfo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wechatinfo.errors.count, "error") %> prohibited this wechatinfo from being saved:</h2>

      <ul>
      <% wechatinfo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
